
*{
    margin: 0;
    padding: 0;
}

html, body, main{
    height: 100%;
    width: 100%;
}

header{
    background-color: rgb(101, 101, 101);
    height: auto;
    width: 100%;
    padding: 2px;
}

.header-container{
    display: inline-block;
    width:80%;
}

#logo-do-site{
    height: 30px;
    padding: 4px;
}

.barra-de-pesquisa{
    display: inline-block;
    margin-left: 4px;
}

.nav-buttons{
    margin: 4px;
}

.nav-buttons button{
    background-color: rgb(255, 0, 0);
    border: none;
    border-radius: 2px;
    padding: 4px;
    color: white;
}

.nav-buttons button:hover{
    background-color: rgb(238, 0, 0);
}

main{
    background-color: rgb(255, 240, 240);
}